#wrapper{
    border: 3px solid purple;
    margin: auto;
    width: 75%;
    height: 570px;
    text-align: center;
}

#goldbox{
    border: 2px solid black;
    font-size: 22px;
    font-weight: bold;
    width: 170px;
    display: inline-block;
    text-align: center
}

.box{
    border: 3px solid blue;
    width: 170px;
    height: 170px;
    display: inline-block;
    margin: 3%;

}

.button{
    font-size: 18px;
    background-color: brown;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    padding:3px;
}

#blue{
    color: blue;
}

#red{
    color: red;
}

#statusbox{
    border: 3px solid purple;
    margin: auto;
    width: 60%;
    height: 200px;
    overflow-y:auto;
}