<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTRATION</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                        <div class="card-body">
                            <form class="form-horizontal" method="post" action="/register">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="first_name" class="cols-sm-2 control-label">Your First Name</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="first_name" id="name" placeholder="Enter your First Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="last_name" class="cols-sm-2 control-label">Your Last Name</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="last_name" id="name" placeholder="Enter your First Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                        </div>
                                    </div>
                                </div>               
                                <div class="form-group">
                                    <label for="password" class="cols-sm-2 control-label">Password</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="c_password" class="cols-sm-2 control-label">Confirm Password</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="c_password" id="confirm" placeholder="Confirm your Password" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="REGISTER">
                                </div>
                            </form>
                            <ul>
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">
                                        {% if 'safe' in message.tags %}
                                            {{ message|safe }}
                                        {% else %}
                                            {{ message }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
        </div>
    </div>
</body>
</html>