<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class=container>
        <h2>Are you sure you want to delete the followng course?</h2>
        <p>Name: {{course.name}}<br>
        <p>Description: {{course.desc}}<br>
        <br>
            
        <form action='/back' method='post'>
            {%csrf_token%}
            <button id=no type="submit">No</button>
        </form>
            
        <form action='/delete/{{course.id}}' method='post'>
            {%csrf_token%}
            <button id=yes type="submit">Yes I want to delete the course</button>
        </form>
    </div>
    
</body>
</html>