
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class=container>
        <h2>Welcome {{request.session.first_name}}! This is your dashboard.</h2>
        <h3>Post a message to the Wall</h3>
        <form action='/postMessage' method='POST'>
            {%csrf_token%}
            <textarea rows='3' cols='50' name='message'></textarea><br>
            <input type="submit" value='POST MESSAGE'>
            <input type='hidden' name=id value={{request.session.id}}>
        </form>
    </div>
    <ul>
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {% if 'safe' in message.tags %}
                {{ message|safe }}
            {% else %}
                {{ message }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <br>
    <a href='/logout'>LOG OUT</a>
    <h3>Messages:</h3>
    {% if posted_messages %}
      {% for post in posted_messages %}
      <fieldset>
            <h3>{{ post.user.first_name }} -- {{ post.created_at }}</h3>
            <p>{{ post.message }}</p>
            {% if post.user.id == request.session.id%}
            <i class="fa fa-trash"> <a href="/delete/{{post.id}}">DELETE</a></i>
            {% endif %}
            <h4>Comments:</h4>
            {% if posted_comments %}
                {% for comment in posted_comments %}
                    <ul>
                        {% if comment.message.id == post.id %}
                        <li>
                            <h5>{{ comment.user.first_name }} -- {{ comment.created_at}}</h5>
                            <p>{{comment.comment}}</p>
                        </li>
                        {% endif %}    
                    </ul>
                {% endfor %}
            {% endif %}
            <form action="/postComment" method='POST'>
                {% csrf_token %}
                <p>Post a comment</p>
                <input type="hidden" value={{post.id}} name="message_id">
                <textarea name="comment" id="comment" cols="45" rows="2"></textarea>
                <input type="submit" value="Post Comment">
            </form>
        </fieldset>
        {% endfor %}
    {% endif %}

    </div>
</body>
</html>
