<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id='wrapper'>
        <div id='box_1'>
            <form action='addWordToSession' method='POST'>
                {%csrf_token%}
                <h3>Add a new word</h3>
                <input id='word_input' name='word' type='text'>
                <div id="radiobutton">
                    <p>Choose a color:</p>
                    <input type="radio" name='color' value='red' checked> Red <br>
                    <input type="radio" name="color" value='blue'>Blue<br>
                    <input type="radio" name="color" value='green'>Green
                </div><br>
                <label><input type="checkbox" name='font'> Big Font?</label>
                <br>
                <br>
                <input class='button' type='submit' value='Add To Session'>
            </form>
        </div>
        <div id='box_2'>
            <form action='/clearSession' method='POST'>
                {%csrf_token%}
                <input class='button' type='submit' value='Clear Session'>
            </form>
            {% for word in data%}
                <p><span id={{word.color}}{{word.font}}>{{word.word}}</span><span id='tiny'> - added on {{word.time}}</span></p>
            {%endfor%}
        </div>
    </div>
</body>
</html>