<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class=container>
        <h2>Edit user {{user.id}}</h2>
        <form action='/users/{{user.id}}' method='POST'>
            {% csrf_token%}
            <label for=first_name>First Name</label>
            <input type=text name=first_name value={{user.first_name}}><br>
            <label for=last_name>Last Name</label>
            <input type=text name=last_name value={{user.last_name}}><br>
            <label for=email>Email</label>
            <input type=email name=email value={{user.email}}><br>
            <input type="submit" value="UPDATE">
        </form>
        <a href=/users/{{user.id}}>SHOW</a> | <a href='/users'>Go Back</a>
    </div>
        
</body>
</html>