<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class=container>
      <table>
          <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Action</th>
          </thead>
          {%for user in users%}
          <tbody>
            <tr>
              <td><a href='users/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a></td>
              <td>{{user.email}}</td>
              <td><a href='users/{{user.id}}'>SHOW</a> | <a href='users/{{user.id}}/edit'>EDIT</a> | <a href='users/{{user.id}}/destroy'>DELETE</a></td>
            </tr>
          </tbody>
          {%endfor%}
      </table>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  <br>
 
  <a href='users/new'>Add a new user</a>
  </div>

</body>
</html>